body{
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Archivo', sans-serif;
}

/* NAVIGATIONSBAR */
.topnav {
    background-color: #859D7D;
    overflow: hidden;
    padding: 1%;
  }

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Archivo', sans-serif;
  }

  .topnav a:hover {
    color: #000;
  }

 /* HEADER PIC */
 .header {
    width: 100%;
    filter: brightness(25%);
  }

  .headertitle{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
  }

  .typingtext{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
  }


  /* SECTION + H1 INDSTILLINGER */
section{
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #f5f5f5;
}

h1{
    font-family: 'Archivo', sans-serif; 
    color: #000000;
    margin-left: 5%;
    padding-top: 5%;
}

/* FARVE BOKSENE */
.box1 {
    border: 1px solid #859D7D;
    font-family: 'Archivo Black', sans-serif;
    background-color: #859D7D; 
    color: #fff;
    padding: 30px;
    margin-right: 3%;
    margin-left: 3%;
  }

.box2 {
    border: 1px solid #214D13;
    font-family: 'Archivo Black', sans-serif;
    background-color: #214D13; 
    color: #fff;
    padding: 30px;
    margin-right: 3%;
    margin-left: 3%;
  }

  .box3 {
    border: 1px solid #fff;
    font-family: 'Archivo Black', sans-serif;
    background-color: #fff; 
    color: #000;
    padding: 30px;
    margin-right: 3%;
    margin-left: 3%;
  }

  .box4 {
    border: 1px solid #505050;
    font-family: 'Archivo Black', sans-serif;
    background-color: #505050; 
    color: #fff;
    padding: 30px;
    margin-right: 3%;
    margin-left: 3%;
  }

 /* Logo sektion 
 .logoimage{
     width: 25%;
     height: auto;
     margin-left: 3%;
 } */

 .xmp{
    font-family: 'Archivo', sans-serif;
 }

 .boxed {
    background: rgb(243, 243, 243);
    color: #515F6D;
    width: 380px;
    padding: 35px;
    font-size: 20px;
    overflow-wrap: break-word;
    margin: 0px 0px 14px 0px;
  }

 .nav-headings {
    font-size: 20px;
    font-weight: 700;
    color: #859D7D;
    margin-top: 90px;
    margin-bottom: 90px;
  } 

  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 380px));
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .knapper-elem {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: start;
    background: rgb(243, 243, 243);
    color: #214D13;
  }

  .nav-overskrifter {
    font-weight: bold;
    color: white;
    font-size: 20px;
    background-color: #214D13;
    text-align: center;
    width: 100%;
}

/* OP TIL TOP KNAP */
.scrollop-knap{
  position: relative;
  background-color: #214D13;
  border: none;
  font-size: 15px;
  color: #FFFFFF;
  padding: 10px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  font-family: 'Archivo Black', sans-serif;
  margin-left: 45%;
}

 