/* NAVIGATIONSBAR */
.topnav {
    background-color: #859D7D;
    overflow: hidden;
  }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Archivo', sans-serif;
  }

  .topnav a:hover {
    background-color: #fff;
    color: #859D7D;
  }

  /* SECTION + H1 INDSTILLINGER */
section{
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #f5f5f5;
}

h1{
    font-family: 'Archivo', sans-serif; 
    color: #000000;
    margin-left: 5%;
    padding-top: 5%;
}

/* FARVE BOKSENE */
.box1 {
    border: 1px solid #859D7D;
    font-family: 'Archivo Black', sans-serif;
    background-color: #859D7D; 
    color: #fff;
    padding: 30px;
    margin-right: 3%;
    margin-left: 3%;
  }

.box2 {
    border: 1px solid #214D13;
    font-family: 'Archivo Black', sans-serif;
    background-color: #214D13; 
    color: #fff;
    padding: 30px;
    margin-right: 3%;
    margin-left: 3%;
  }

  .box3 {
    border: 1px solid #fff;
    font-family: 'Archivo Black', sans-serif;
    background-color: #fff; 
    color: #000;
    padding: 30px;
    margin-right: 3%;
    margin-left: 3%;
  }

  .box4 {
    border: 1px solid #505050;
    font-family: 'Archivo Black', sans-serif;
    background-color: #505050; 
    color: #fff;
    padding: 30px;
    margin-right: 3%;
    margin-left: 3%;
  }